* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cornice: rgb(8, 11, 18);
  --navbar: rgb(20, 25, 34);
  --footer_player: rgb(40, 40, 40);
  --content-sfondo: rgb(20, 25, 34);
  --evidenzia: rgb(173, 255, 47);
  --sidebar: #000000;
}

/* #region debug */

/*.debug .topbar {
  background-color: var(--top);
  border: 10px solid rgb(219, 198, 6);
}*/

.debug .cornice {
  background-color: lightblue;
}

.debug .sidebar {
  background-color: lightcoral;
}

.debug .content {
  background-color: var(--content-sfondo);
}

.debug footer {
  background-color: var(--footer_player);
}
/* # end  region  debug */

/*Utilities */

.d-flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}

/* #region Layout */
.cornice {
  height: calc(100vh - 70px);
  display: flex;
}

.sidebar {
  color: white;
}
.cornice > .sidebar {
  width: 70px;
  overflow: hidden;
}

.cornice > .content {
  width: calc(100% - 70px);
  overflow-y: auto;
}

footer.bottom {
  height: 70px;
}

/* Responsive */

@media screen and (min-width: 768px) {
  .cornice > .sidebar {
    width: 220px;
  }
  .cornice > .content {
    width: calc(100% - 220px);
  }
}

/*@media screen and (min-width: 480px) {
  .cornice > .sidebar {
    width: 220px;
  }
  .cornice > .content {
    width: calc(100% - 220px);
  }
}*/
