* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cornice: rgb(8, 11, 18);
  --navbar: rgb(20, 25, 34);
  --footer_player: rgb(40, 40, 40);
  --content-sfondo: rgb(20, 25, 34);
  --evidenzia: rgb(173, 255, 47);
  --sidebar: #000000;
}

/*-------------------------------- #region debug--------------------------------- */

body {
  font-family: "Montserrat", sans-serif;
  overflow: hidden;
  cursor: url(cursor_2.png) 2 2, pointer;
}

.navbar {
  background-color: var(--navbar);
}
.navbar_small {
  background-color: var(--footer_player);
}

.sidebar {
  background-color: var(--sidebar);
}

.content {
  background-color: var(--content-sfondo);
}

footer {
  background-color: var(--footer_player);
}
/* # end  region  debug */

/*--------------------------Utilities-------------------------------------------- */

.d-flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}

/*--------------------------------- #region Layout -----------------------------*/

.cornice {
  height: calc(100vh - 70px);
  display: flex;
}

.cornice > .navbar {
  width: calc(100% - 70px);
}
.cornice > .navbar_small {
  width: calc(100% - 50px);
}
/*--------------------------------- #navbar -----------------------------*/
.long-log > img {
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}
.short-log > img {
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0.5rem;
}

.navbar {
  height: 70px;
  position: fixed;
  margin: auto;
  right: 0;
}
.navbar_small {
  height: 50px;
  width: 100%;
  margin-top: 58px;
  margin-left: -1px;
  position: fixed;
}
.btn_navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  align-items: center;
  background-color: transparent;
}
.btn {
  border-radius: 5rem;
  width: 12rem;
  height: 2.5rem;
  border-color: white;
  font-weight: bold;
  background-color: transparent;
  color: white;
  margin-bottom: 10px;
}
.btn:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

ul :hover {
  color: white;
}

.title {
  margin-top: 10rem;
  color: white;
}
.main_menu {
  text-align: start;
}
.listbar * {
  display: inline-block;
  font-weight: bold;
  line-height: 1;
  margin-right: 4rem;
  color: gray;
  text-decoration: none;
}
.listbar {
  white-space: nowrap;
  text-align: center;
}
.list_nome * {
  font-weight: bold;
  list-style: none;
}

.main_menu {
  line-height: 3rem;
}

/*------------------------------END--- #navbar -----------------------------*/
img {
  max-width: 100%;
}
/*-----------------------Main Content-----------------------------*/

[class^="album_"] * img {
  position: absolute;
}
[class^="album_"] :hover {
  color: white;
  opacity: 0.8;
}

.fa-play-circle {
  position: relative;
  bottom: 11rem;
  left: 6.5rem;
  color: transparent;
}
h2,
h5 {
  margin-left: 1rem;
}
h4,
h6 {
  margin-top: -2rem;
  text-align: center;
}
h6 {
  color: gray;
}
h5 {
  padding-top: 0.5rem;
  color: gray;
}
.container,
.container2,
.container3 {
  margin-top: 5rem;
  color: white;
}

.album9 > img {
  border-radius: 100%;
}

.album10 > img {
  border-radius: 100%;
}

[class^="album"] {
  width: 300px;
  padding: 1rem;
}

.row {
  display: flex;
  flex-wrap: wrap;
}
/*--------------------------------- #sidebar -----------------------------*/

.sidebar {
  color: grey;
}
.sidebar_top,
.sidebar_bottom {
  padding-left: 0.5rem;
  color: grey;
}
.sidebar_bottom {
  padding: 1rem;
}

.icon_plus:hover {
  color: white;
}
span :hover {
  color: white;
}
.icon_avatar > span {
  color: white;
}

ul :hover {
  color: white;
}
.icon_download :hover {
  color: white;
}
.icon:hover {
  color: white;
}
.icon > span:hover {
  color: white;
}
.icon_home480,
.icon480,
.icon480 {
  width: 2rem;
  height: 2rem;
  margin-left: 1rem;
  margin-top: 1rem;
  padding: 0.1rem;
}
/*--------------------------------hover button-------------------------*/

.icon > svg {
  width: 15%;
}
.icon_home > svg {
  width: 15%;
}
.icon_avatar > svg {
  width: 10%;
}
.icon_download > svg {
  width: 15%;
  margin-top: 0rem;
}
.icon_home > span {
  color: white;
}
/*-------------------------------svg file-----------------------*/
.icon_avatar {
  color: white;
}
.icon_home {
  color: rgb(255, 255, 255) !important;
}
.icon_download {
  padding-bottom: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid lightgray;
  width: 80%;
}
.icon_avatar {
  padding: 0.5rem;
}
.icon_avatar b {
  margin-left: 0.5rem;
  font-size: 1.2rem;
}
/*-----------------------------icon section----------------*/
.fa-square-plus {
  font-size: 3rem;
}

.title_btn {
  margin-top: 2rem;
  margin-bottom: 1rem;
  padding-left: 0.5rem;
  font-size: small;
}
.list_nome {
  margin-top: 1rem;
  line-height: 2rem;
  font-size: 12px;
  color: gray;
  padding-left: 0.5rem;
}
li {
  list-style: none;
}
h3 {
  color: white;
}

span {
  color: gray;
  font-size: small;
}
.cornice > .sidebar {
  width: 70px;
  overflow: hidden;
}

.cornice .sidebar_top {
  height: calc(100% - 60px);
}

.cornice .sidebar_bottom {
  height: 60px;
}

.cornice > .content {
  width: calc(100% - 70px);
  overflow-y: auto;
}
/*--------------------------END------- #sidebar -----------------------------*/

/*---------------------------------footer -----------------------------*/

.part_album {
  width: 15%;
  display: inline-flex;
  text-align: center;
  padding: 0.5rem;
}
.immagine-480 {
  width: 3.5rem;
  height: 3.5rem;
}
.immagine-480 > img {
  width: 100%;
}
.format {
  width: 3.5rem;
  height: 3.5rem;
}
.format > img {
  width: 100%;
}
.testo_brano > h3 {
  font-size: 15px;
  color: white;
}

.testo_brano > span {
  font-size: 11px;
  color: grey;
}

.part_icon {
  width: 10%;
  color: grey;
  text-align: left;
}
.icon_heart :hover {
  color: white;
}

.icon_heart {
  line-height: 5rem;
  color: grey;
  margin-right: 0.5rem;
}
.fa-heart {
  padding: 7%;
}
/*-----------------------------play --play-top -----------------------------*/

.player_top {
  color: grey;
  font-size: large;
  text-align: center;
}
.player_bottom {
  text-align: center;
}

.player_top :hover {
  color: white;
}
.fa-repeat,
.fa-backward-step,
.fa-circle-play,
.fa-forward-step,
.fa-arrow-rotate-right {
  padding: 0.5rem;
}
/*----------------------END-------play --play-top -----------------------------*/

/*----------------------play bottom -----------------------------*/

.play {
  width: 50%;
  text-align: center;
  justify-content: center;
}
.big-bar {
  width: 300px;
  height: 4px;
  background-color: rgb(121, 119, 119);
  display: inline-block;
  margin-bottom: 10px;
}

.palla {
  width: 20px;
  height: 20px;
  background-color: white;
  border-radius: 50%;
  position: absolute;
  transform: translate(-50% -50%);
  top: -8px;
  left: 100%;
  opacity: 0;
}

.small-bar {
  width: 100px;
  height: 4px;
  background-color: greenyellow;
  position: relative;
}
.palla:hover {
  opacity: 1;
}

.player_bottom > span {
  margin-left: 2rem;
  margin-right: 2rem;
  font-size: xx-small;
}

.s-bar {
  width: 100px;
  height: 3px;
  background-color: rgb(121, 119, 119);
  display: inline-block;
  margin-top: 8px;
}
.xsmall-bar {
  width: 30px;
  height: 2px;
  background-color: greenyellow;
}
.xs-palla:hover {
  opacity: 1;
}
strong {
  color: white;
}
/*--------------------------END-------play bottom ----------------------------------*/
.icon_sound {
  width: 25%;
  background-color: transparent;
  text-align: center;
  line-height: 5rem;
  color: grey;
  text-align: center;
}
.icon_sound :hover {
  color: white;
}
.fa-bars,
.fa-desktop,
.fa-volume-high {
  padding: 0.5rem;
}
footer.bottom {
  height: 80px;
}

/*--------------------------END-------footer --------------------*/

/* ---------------------------------------Responsive------------------ */

/* ----------------S---580--px--------------- */
@media screen and (min-width: 580px) {
  .cornice > .sidebar {
    width: 200px;
  }
  .cornice > .content {
    width: calc(100% - 200px);
  }
  .cornice > .navbar {
    width: calc(100% - 220px);
  }
  .cornice > .navbar_small {
    width: calc(100% - 220px);
  }
  .short-log {
    display: none;
  }

  .icon_home480,
  .icon480,
  .icon480 {
    display: none;
  }
  .format > img {
    display: none;
  }
}
/* ----------------MD---768-px-------Tablet-------- */
@media screen and (min-width: 768px) {
  .cornice > .sidebar {
    width: 220px;
  }
  .cornice > .content {
    width: calc(100% - 220px);
  }
  .cornice > .navbar {
    width: calc(100% - 220px);
  }
  .cornice > .navbar_small {
    width: calc(100% - 220px);
  }
  .short-log {
    display: none;
  }

  .icon_home480,
  .icon480,
  .icon480 {
    display: none;
  }
  .format > img {
    display: none;
  }
}
/* ----------------LG---992-+-px--------------- */
@media screen and (min-width: 992px) {
  .cornice > .sidebar {
    width: 220px;
  }
  .cornice > .content {
    width: calc(100% - 220px);
  }
  .cornice > .navbar {
    width: calc(100% - 220px);
  }
  .cornice > .navbar_small {
    width: calc(100% - 220px);
  }
  .short-log {
    display: none;
  }

  .icon_home480,
  .icon480,
  .icon480 {
    display: none;
  }
  .format > img {
    display: none;
  }
}
/* ---------------1200px-------------- */
@media screen and (min-width: 1200px) {
  .cornice > .sidebar {
    width: 220px;
  }
  .cornice > .content {
    width: calc(100% - 220px);
  }
  .cornice > .navbar {
    width: calc(100% - 220px);
  }
  .cornice > .navbar_small {
    width: calc(100% - 220px);
  }
  .short-log {
    display: none;
  }

  .icon_home480,
  .icon480,
  .icon480 {
    display: none;
  }
  .format > img {
    display: none;
  }
} /* ----------------Responsive------------------------------ */

/* --------------max-width: 580px------------ */

@media screen and (max-width: 580px) {
  .list_nome {
    display: none;
  }

  .immagine-480 > img {
    display: none;
  }

  .icon_sound,
  .player_bottom,
  .part_album,
  .testo_brano,
  .icon_plus,
  .title_btn,
  .sidebar_bottom,
  .icon_name,
  .part_icon,
  .icon_heart {
    display: none;
  }
  .logo > img {
    display: none;
  }
  span {
    display: none;
  }
  .long-log > img {
    display: none;
  }

  .icon_home,
  .icon {
    display: none;
  }
}
/* --------------max-width: 480px------------ */
@media screen and (max-width: 480px) {
  .list_nome {
    display: none;
  }
  .immagine-480 > img {
    display: none;
  }
  .icon_sound .player_bottom,
  .part_album,
  .testo_brano,
  .icon_plus,
  .title_btn,
  .sidebar_bottom,
  .icon_name,
  .part_icon,
  .icon_heart {
    display: none;
  }
  .logo > img {
    display: none;
  }
  span {
    display: none;
  }
  .long-log > img {
    display: none;
  }

  .icon_home,
  .icon {
    display: none;
  }
}
/* ----------------Responsive----max-width:----------------- */
