* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --cornice: rgb(8, 11, 18);
  --navbar: rgb(20, 25, 34);
  --footer_player: rgb(40, 40, 40);
  --content-sfondo: rgb(20, 25, 34);
  --evidenzia: rgb(173, 255, 47);
  --sidebar: #000000;
}

/*-------------------------------- #region debug--------------------------------- */

/*.debug .topbar {
  background-color: var(--top);
  border: 10px solid rgb(219, 198, 6);
}*/
.debug .navbar {
  background-color: var(--navbar);
}
.debug .navbar_small {
  background-color: var(--footer_player);
}
.debug .cornice {
  border: 1px solid rgb(49, 6, 141);
}

.debug .sidebar {
  background-color: var(--sidebar);
}

.debug .content {
  border: 1px solid rgb(207, 90, 162);
}

.debug footer {
  background-color: var(--footer_player);
  border: 1px solid rgb(90, 207, 100);
}
/* # end  region  debug */

/*--------------------------Utilities-------------------------------------------- */

.d-flex {
  display: flex;
}
.direction-column {
  flex-direction: column;
}
/*.direction-row {
  flex-direction: row;
}*/

/*--------------------------------- #region Layout -----------------------------*/

.cornice {
  height: calc(100vh - 70px);
  display: flex;
}
.cornice {
  position: relative;
}
.cornice > .navbar {
  width: calc(100% - 70px);
}
.cornice > .navbar_small {
  width: calc(100% - 70px);
}
/*--------------------------------- #navbar -----------------------------*/
.navbar {
  height: 70px;
  position: fixed;
  margin: auto;
  position: absolute;
  right: 0;
}
.navbar_small {
  height: 50px;
  width: 100%;
  margin-top: 70px;
  margin-left: -1px;
  position: fixed;
}
.btn_navbar {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
  align-items: center;
  background-color: transparent;
}
.btn {
  border-radius: 5rem;
  width: 12rem;
  height: 2.5rem;
  border-color: white;
  font-weight: bold;
  background-color: transparent;
  color: white;
}
.btn:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
a {
  color: lightgray;
  text-decoration: none;
  padding: 1rem 1rem;
}
ul :hover {
  color: white;
}
.list {
  list-style: none;
  font-weight: bold;
}

.main_menu ul {
  line-height: 3rem;
  display: inline-flex;
  text-align: center;
  line-height: 3rem;
}
/*------------------------------END--- #navbar -----------------------------*/
img {
  max-width: 100%;
}
/*--------------------------------- #sidebar -----------------------------*/

.sidebar {
  color: white;
}
.sidebar_top,
.sidebar_bottom {
  padding-left: 0.5rem;
  color: lightgray;
}
.sidebar_bottom {
  padding: 1rem;
}
.icon:hover {
  color: rgb(15, 36, 221);
}
.icon_plus:hover {
  color: rgb(175, 8, 8);
}
ul :hover {
  color: rgb(97, 177, 6);
}
.logo > img {
  width: 70%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
}
.icon,
.icon_plus,
.icon_avatar {
  padding-bottom: 2rem;
  padding: 0.5rem;
  border: 1px solid red;
}
.icon_download {
  padding-bottom: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid lightgray;
  width: 80%;
}
.icon_avatar b {
  margin-left: 1rem;
  font-size: 1.2rem;
}
.fa-circle-down {
  padding-right: 0.5rem;
}
.icon_top {
  border: 1px solid red;
}

.title_btn {
  border: 1px solid red;
  margin-top: 2rem;
  padding-left: 0.5rem;
}
.list_nome {
  border: 1px solid red;
  margin-top: 1rem;
  line-height: 2rem;
}
h3 {
  color: white;
}
.cornice > .sidebar {
  width: 70px;
  overflow: hidden;
}

.cornice .sidebar_top {
  height: calc(100% - 60px);
}

.cornice .sidebar_bottom {
  height: 60px;
}
/*--------------------------END------- #sidebar -----------------------------*/
.cornice > .content {
  width: calc(100% - 70px);
  overflow-y: auto;
}

footer.bottom {
  height: 70px;
}

/* --------------------------------------------Responsive------------------------------ */

/* ----------------XS- da --0-A--480--px--------------- */
@media screen and (min-width: 480px) {
  .cornice > .sidebar {
    width: 220px;
  }
  .cornice > .content {
    width: calc(100% - 220px);
  }
  .cornice > .navbar {
    width: calc(100% - 220px);
  }
  .cornice > .navbar_small {
    width: calc(100% - 480px);
  }
}

/* ----------------S---500--px--------------- */
@media screen and (min-width: 600px) {
  .cornice > .sidebar {
    width: 220px;
  }
  .cornice > .content {
    width: calc(100% - 220px);
  }
  .cornice > .navbar {
    width: calc(100% - 220px);
  }
  .cornice > .navbar_small {
    width: calc(100% - 600px);
  }
}

/* ----------------MD---768-px-------Tablet-------- */
@media screen and (min-width: 768px) {
  .cornice > .sidebar {
    width: 220px;
  }
  .cornice > .content {
    width: calc(100% - 220px);
  }
  .cornice > .navbar {
    width: calc(100% - 220px);
  }
  .cornice > .navbar_small {
    width: calc(100% - 768px);
  }
}

/* ----------------LG---1280-+-px----------PC----- */
@media screen and (min-width: 1280px) {
  .cornice > .sidebar {
    width: 220px;
  }
  .cornice > .content {
    width: calc(100% - 220px);
  }
  .cornice > .navbar {
    width: calc(100% - 220px);
  }
  .cornice > .navbar_small {
    width: calc(100% - 220px);
  }
}
